{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <!-- Welcome page -->
    <h1 style="margin-left: 20px">Log In</h1>
    <div class="grid-container" style="background-image: url('{% static bg_pic %}'); background-repeat: no-repeat; background-size: cover;">
        <div id="register">
            <div class="imgcontainer">
                <img src="{% static '/pictures/logo.png' %}" alt="Logo" class="avatar" style="text-align: center">
            </div>
            <form action="{% url 'signin' %}" }} method="POST">
                {% csrf_token %}
                {{ sign_in|crispy }}
                <button id="sign-up-btn" type="submit" style="margin: auto;" class="btn btn-primary btn-lg">Log In</button>
            </form>
        </div>
    </div>
{% endblock %}